@import 'tailwindcss';
@import './font.css';

:root {
    --font-sans: 'Neue Montreal', Arial, Helvetica, sans-serif;
    --font-elegance: 'The New Elegance', sans-serif;

    --color-primary: #ededed;
    --color-secondary: #323232;
    --color-accent: #7c3eea;

    --bg-primary: #ededed;
    --bg-secondary: #010101;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-sans);
}

section {
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
}

h2,
p {
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 1.8rem;
}

strong {
    font-weight: bold;
}

/* Fonts */
.font-elegance {
    font-family: var(--font-elegance);
}

.text-primary-foreground {
    color: var(--color-primary);
}

.text-second-foreground {
    color: var(--color-secondary);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.blur-accent {
    background: #8d5be5;
}
