---
import {
    CursorIcon,
    HashtagIcon,
    LetterTIcon,
    PenIcon,
    RectangleIcon
} from '../../assets';
import IconComponent from './IconComponent.astro';

const icons = [CursorIcon, HashtagIcon, PenIcon, RectangleIcon, LetterTIcon];
---

<div
    id="floating-bar"
    class="fixed bottom-10 w-4/5 left-1/2 -translate-x-1/2 mx-8 flex justify-center items-center z-50 text-primary-foreground transition-opacity duration-500 ease-in-out opacity-100"
>
    <div
        id="backdrop-blur-box"
        class="w-full max-w-[500px] flex items-center md:justify-between justify-center gap-2 rounded-2xl backdrop-blur-md border border-white/20 shadow-lg md:px-20 px-0 py-3 [&>*:nth-child(n+4)]:hidden md:[&>*:nth-child(n+4)]:flex"
    >
        {icons.map(item => <IconComponent Icon={item} />)}
    </div>
</div>

<script src="./scripts/index.js"></script>
