---
interface Props {
    top?: string; // ex: 'top-[10%]'
    left?: string; // ex: 'left-1/2'
    right?: string;
    bottom?: string;
    color?: string; // ex: 'bg-purple-300/50', default: 'bg-purple-300/50'
    blur?: string; // ex: 'blur-xl', default: 'blur-xl'
    class?: string;
}

const {
    top,
    left = 'left-1/2',
    right,
    bottom,
    color = 'bg-accent',
    blur = 'lg:blur-[200px] md:blur-[150px] blur-[110px]',
    class: className
} = Astro.props;
---

<div
    class:list={[
        'absolute rounded-full transform -translate-x-1/2',
        color,
        blur,
        'lg:w-[55rem] lg:h-[55rem] md:w-[30rem] md:h-[30rem] sm:w-[20rem] sm:h-[20rem] w-[17rem] h-[17rem]',
        className,
        top,
        left,
        right,
        bottom
    ]}
>
</div>
