---
interface Props {
    href: string;
    variant?: 'primary' | 'secondary';
    class?: string;
}

const { href, variant = 'primary', class: extraClass = '' } = Astro.props;

const variantStyles = {
    primary:
        'linear-gradient(91.91deg, #7526FF -24.91%, #9A60FF 38.23%, #7526FF 105.13%)',
    secondary:
        'linear-gradient(91.91deg, #38DC18 -24.91%, #43AC2F 38.23%, #38DC18 105.13%)'
};
---

<a
    id="custom-link"
    href={href}
    class={`rounded-full px-6 py-2 flex justify-between items-center gap-1 md:text-lg text-sm cursor-pointer hover:opacity-95 text-white transition duration-200 text-center ${extraClass}`}
    style={`background: ${variantStyles[variant]}`}
>
    <slot />
</a>
