---
import { ArrowUpIcon, InstagramIcon } from '../assets';
---

<footer class="bg-[#180e2afa] text-white py-10 flex flex-col gap-5">
    <div class="flex justify-around items-center">
        <InstagramIcon />
        <div class="flex gap-2 items-center">
            <span class="uppercase text-xs">Voltar ao topo</span>
            <ArrowUpIcon />
        </div>
    </div>

    <div class="w-full h-[0.8px] bg-accent"></div>

    <div class="flex justify-around items-center">
        <span class="uppercase text-xs"
            >© Copyright 2025. Todos os direitos reservados.</span
        >
        <span class="uppercase text-xs">Desenvolvido por CARLOS ANYEL</span>
    </div>
</footer>
