---
import { BoobleBlur, BigTexts, Carousel, CustomLink, CustomRectangle } from '.';
import { ArrowIcon, UserPenIcon } from '../assets';
import { instagramAnyelLink } from '../utils';
---

<main>
    <section
        id="initial"
        class="relative text-primary-foreground min-h-screen flex-col gap-15 text-center
                bg-[url('/video.png')] bg-cover bg-center z-30"
    >
        <ArrowIcon
            class="bg-purple-700 p-[6px] w-7 h-7 absolute -bottom-3 z-40 rounded-full"
        />
        <BoobleBlur
            top="lg:top-[-650px] md:top-[-250px] top-[-140px]"
            class="z-10"
        />

        <h1
            class="font-elegance italic z-20 text-3xl md:text-5xl leading-12 md:leading-18"
        >
            Design que conecta. <br /> Estratégia que entrega.
        </h1>
        <h2 class="md:text-3xl text-lg max-w-[40rem]">
            Landing pages, identidades visuais e <br /> conteúdo para redes sociais
            <strong>criados com propósito, clareza e personalidade.</strong>
        </h2>
        <CustomLink href={instagramAnyelLink()}>
            <UserPenIcon />
            Fala comigo
        </CustomLink>
    </section>

    <section
        class="text-second-foreground bg-primary relative overflow-hidden z-20"
    >
        <CustomRectangle>
            <p class="md:text-2xl text-xl text-center md:text-start">
                Se você tem um projeto e precisa de alguém <br /> pra traduzir sua
                ideia em algo visual, <br /> funcional e coerente, <strong
                    >eu posso te ajudar.</strong
                >
            </p>
            <p class="md:text-2xl text-xl text-center md:text-start">
                Cada trabalho é pensado <strong> com cuidado </strong> — <br /> alinhando
                forma, intenção e resultado.
            </p>

            <CustomLink href={instagramAnyelLink()}>
                <UserPenIcon />
                Vamos criar juntos
            </CustomLink>
        </CustomRectangle>

        <BigTexts bottom="-190px">Conversão</BigTexts>
    </section>

    <section
        id="projects"
        class="!pb-0 relative text-primary-foreground bg-secondary flex-col gap-10"
    >
        <BoobleBlur top="lg:top-[-700px] md:top-[-300px] top-[-150px]" />

        <div class="px-4 py-2 border rounded-full z-10">
            <span class="uppercase">Resultados</span>
        </div>

        <h2
            class="font-elegance md:text-start text-center text-3xl md:text-5xl z-10"
        >
            Para quem já prestei serviço:
        </h2>

        <Carousel />
    </section>

    <section class="text-primary-foreground bg-secondary flex-col gap-10">
        <p class="text-center md:text-2xl text-lg">
            Já desenvolvi muitos projetos ao lado de pessoas e marcas com
            histórias diferentes, mas um objetivo em comum: <br />
            <strong> comunicar melhor e causar impacto.</strong>
        </p>
        <CustomLink href={instagramAnyelLink()}
            >Quero começar um projeto!</CustomLink
        >
    </section>

    <section
        id="about"
        class="relative text-primary-foreground bg-secondary flex md:flex-row flex-col justify-center items-center gap-20"
    >
        <img
            src="/photo-owner.jpg"
            alt="Foto do Carlos Anyel"
            class="transform w-1/3 z-10"
        />

        <div class="flex flex-col md:gap-18 gap-14">
            <h2
                class="font-elegance md:text-start text-center text-3xl md:text-5xl italic leading-14"
            >
                Quem vai te <br /> acompanhar?
            </h2>

            <div class="flex flex-col gap-10 z-10">
                <p class="md:text-2xl text-xl text-center md:text-start">
                    Opa! Meu nome é Anyel, designer gráfico com foco em
                    identidade visual, landing pages e conteúdo digital ,e eu
                    acredito que o design é <strong
                        >uma das formas mais poderosas de criar conexão.</strong
                    >
                </p>
                <p class="md:text-2xl text-xl text-center md:text-start">
                    Meu processo é colaborativo, simples e direto. Ouço, entendo
                    e transformo ideias em soluções visuais que fazem sentido.
                    Se você busca um trabalho cuidadoso, com propósito e
                    resultado, me manda uma mensagem. <strong
                        >Vai ser um prazer te ouvir.</strong
                    >
                </p>
            </div>
        </div>

        <BoobleBlur
            bottom="lg:bottom-[-700px] md:bottom-[-400px] bottom-[-150px]"
        />
    </section>

    <section
        class="text-gray-600 bg-primary flex-col gap-10 relative overflow-hidden"
    >
        <BigTexts top="-150px">CALL TO ACTION</BigTexts>

        <h2
            class="font-elegance text-center text-3xl md:text-5xl md:leading-20 leading-12"
        >
            Tem um projeto em mente? <br /> Me conta mais sobre ele.
        </h2>

        <p class="text-center md:text-2xl text-xl">
            Se você gostou do que viu por aqui e acredita que eu posso te
            ajudar, me manda uma mensagem.
        </p>
        <p class="text-center md:text-2xl text-xl max-w-xl">
            Vai ser ótimo ouvir suas ideias e pensar juntos numa solução que
            faça sentido pra você <strong
                >— e pra quem você quer alcançar.</strong
            >
        </p>

        <CustomLink
            href={instagramAnyelLink()}
            variant="secondary"
            class="uppercase">Converse comigo</CustomLink
        >
    </section>
</main>
