---
interface Props {
    name: string;
    description: string;
    path: ImageMetadata;
}

const { path, name, description } = Astro.props;
---

<div
    class="slide w-full h-[400px] rounded-3xl overflow-hidden relative flex flex-col justify-end p-5"
    style={`background-image: url(${path.src}); background-size: cover; background-position: center;`}
>
    <div class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent">
    </div>

    <div class="relative z-10 text-white">
        <h3 class="text-lg font-bold">{name}</h3>
        <p class="!text-xs uppercase mt-1">{description}</p>
    </div>
</div>
